<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to the To Do app!</h1>
    <p>
      You have successfully created an account and can begin getting your life organized with lists!
      Your username is the same as your email: <%= @user.email %>.<br>
    </p>
  </body>
</html>
